/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: #fff;
}

.error-notification {
  background: #b71c1c;
  color: #fff;
}

.success-notification {
  background: #00c853;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #ddd;
  }
}
